.add-container {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, black 20%, #676767 80%);
  color: white;
  border-radius: 8px;
  padding: 0 20px;
  height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-text {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table-cell {
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: white; /* Ensure parent has a solid background color */
}

.table-cell-even {
  background-color: transparent !important;
}

.table-cell-odd {
  background-color: #f1f8fd !important;
}

.icon-button {
  border-radius: 50%;
  padding: 6px;
  transition:
    background-color 0.3s,
    transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Ensure the button has space to show the background */
}

.icon-button-edit {
  background-color: #388e3c !important; /* Default Dark Green */
}

.icon-button-edit:hover {
  background-color: #2c6e29 !important; /* Darker green on hover */
  transform: scale(1.2); /* Grow effect on hover */
}

.icon-button-delete {
  background-color: #d32f2f !important; /* Default Dark Red */
}

.icon-button-delete:hover {
  background-color: #b32d2d !important; /* Darker red on hover */
  transform: scale(1.2); /* Grow effect on hover */
}

.icon-button-icon {
  font-size: 16px;
  color: #ffffff;
}
main {
  background-color: white !important;
}
@media (min-width: 1400px) {
  .container {
    /* max-width: 1533px !important; */
    max-width: 100% !important;
  }
}
